@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}

html{
	scroll-behavior: smooth;
}

body{
	min-height: 1000px;
	line-height: 1.5;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px 100px;
	z-index: 1000;
	transition: 0.6s;
}

header.sticky{
	padding: 5px 100px;
	background: #fff;
	border-bottom: 1px solid rgba(0,0,0,.1);
}

header .logo{
	position: relative;
	font-weight: 700;
	color: #fff;
	text-decoration: none;
	font-size: 2em;
	text-transform: uppercase;
	letter-spacing: 2px;
	transition: 0.6s;
}

header ul{
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

header ul li{
	position: relative;
	list-style: none;
}

header ul li a{
	position: relative;
	margin: 0 15px;
	text-decoration: none;
	color: #fff;
	letter-spacing: 2px;
	font-weight: 300;
	transition: 0.6s;
}


header.sticky .logo,
header.sticky ul li a{
	color: #000;
}

.banner{
	position: relative;
	width: 100%;
	min-height: 100vh;
	background: url(img/background.jpg);
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner h2{
	color: #fff;
	font-size: 90px;
	text-transform: uppercase;
	text-align: center;
	line-height: 1em;
}

.banner h2 span{
	color: #fff;
}

.sec{
	background: #fff;
	padding: 100px;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec .content{
	position: relative;
	text-align: center;
	width: 100%;
}

.mx{
	max-width: 800px;
	margin: 0 auto;
}

h3{
	font-size: 40px;
	font-weight: 200;
	margin-bottom: 10px;
}

p{
	position: relative;
	font-size: 18px;
	font-weight: 300;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

.btn{
	position: relative;
	display: inline-block;
	padding: 10px 30px;
	background: #000;
	text-decoration: none;
	color: #fff;
}

.services{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 30px;
	max-width: 100%;
	margin-top: 40px;
}

.services .box{
	width: 300px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	box-shadow: 0 15px 30px rgba(0,0,0,0.05);
}

.services .box .imgBx{
	margin-top: 25px;
}

.services .box .imgBx img{
	width: 120px;
	margin-bottom: 15px;
	height: 100px;
}

.services .box h2{
	font-size: 18px;
	margin-bottom: 10px;
	text-transform: uppercase;
	font-weight: 700;
}


.workBx{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 150px;
	max-width: 100%;
	margin-top: 40px;
}

.workBx .brand_card{
	cursor: pointer;
	position: relative;
	min-width: 340px;
	min-height: 480px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.front,
.back{
	width: 100%;
	height: 100%;
	overflow: hidden;
	backface-visibility: hidden;
	position: absolute;
	transition: transform .6s linear;
}

.front img{
	height: 100%;
}

.front{
	transform: perspective(600px) rotateY(0deg);
	border: 1px solid black;
}

.back{
	transform: perspective(600px) rotateY(180deg);
	background-color: #fff;
	border: 1px solid black;

}

h2{
	margin-bottom: 20px;
	color: #000;
}

.brand_card:hover > .front{
	transform: perspective(600px) rotateY(-180deg);
}

.brand_card:hover > .back{
	transform: perspective(600px) rotateY(0deg);
}

.teamBx{
	position: relative;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 150px;
	max-width: 100%;
	margin-top: 40px;
}

.teamBx .member{
	position: relative;
	background: #fff;
	min-height: 290px;
	min-width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.teamBx .member .imgBx{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.teamBx .member .imgBx img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.teamBx .member .details{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #000;
	transition: 0.2s;
	opacity: 0;
}

.teamBx .member:hover .details{
	opacity: 1;
}

.teamBx .member .details h2{
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	letter-spacing: 1px;
}

.teamBx .member .details h2 span{
	display: block;
	font-size: 12px;
	font-weight: 300;

}

.footer{
	background-color: #24262b;
	padding: 70px 0;
}

.container{
	max-width: 1250px;
	margin: auto;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
}

.footer-col{
	width: 25%;
	padding: 0 15px;
}

.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background-color: #fff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #fff;
	padding-left: 10px;
}

.footer-col .social-media a{
	display: block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #fff;
	transition: all 0.5s ease;
}

.footer-col .social-media a:hover{
	color: #24262b;
	background-color: #fff;
}

.toggle{
	display: none;
}

@media(max-width: 992px){
	.toggle{
		display: block;
		position: relative;
		width: 30px;
		height: 30px;
		cursor: pointer;
	}
	.toggle:before{
		content: '';
		position: absolute;
		top: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		box-shadow: 0 10px 0 #000;
		transition: 0.5s;
	}
	.toggle:after{
		content: '';
		position: absolute;
		bottom: 4px;
		width: 100%;
		height: 2px;
		background: #000;
		z-index: 1;
		transition: 0.5s;
	}


	header,
	header.sticky{
		padding: 5px 50px;
		background: #fff;
	}

	header ul{
		position: absolute;
		top: 59px;
		left: 0;
		width: 100%;
		height: 100vh;
		text-align: center;
		overflow: auto;
		background: #fff;
		visibility: hidden;
		opacity: 0;
	}

	header.active ul{
		visibility: visible;
		opacity: 1;
		display: block;
		padding-top: 20px;
	}

	header.active ul li a{
		display: inline-block;
		margin: 10px 0;
		font-size: 20px;
	}

	header.logo,
	header ul li a{
		color: #000;
	}

	.banner{
		background-position: center;
	}

	.banner h2{
		font-size: 60px;
		padding: 0 50px;
	}

	.footer{
		padding: 100px 50px 50px 50px;
	}
}

@media(max-width: 480px){
	header{
		padding: 20px;
	}

	.toggle.active{
		padding: 20px;
	}

	.banner{
		flex-direction: column-reverse;
		align-items: center;
	}

	.content{
		flex-direction: column-reverse;
		align-items: center;
	}

	.sec{
		padding: 20px;
	}

	.footer{
		flex-direction: column-reverse;
		align-items: center;
	}
}